<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Personal-Website Lawrence-Zhou">
        <meta name="keywords" content="Personal-Website Lawrence-Zhou">
        <meta name="author" content="Lawrence zhou">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lawrence Zhou</title>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/icons.css">
        <link rel="stylesheet" href="css/scrollbar.css">
        <link rel="stylesheet" href="css/project-buttons.css">
        <script src="https://kit.fontawesome.com/1585077bc9.js" crossorigin="anonymous"></script>
    </head>    
    <body>

        <div id="snowfall"></div>
        <img id="snowfloor" src="images/snowfloor.png">

        <nav class="navbar">
          <div></div>
          <a href="#" id="nav-icon">
            <span></span>
            <span></span>
            <span></span> 
          </a>

          <div class="navbar-links">
            <ul>
              <li><a href="/" class="btn-primary button">Home</a></li>
              <li><a href="/about" class="btn-primary button">About</a></li>
              <li><a href="/projects" class=" btn-primary button">Projects</a></li>
              <li><a href="/tournaments" class="btn-primary button">Tournaments</a></li>
              <li><a href="/contact" class=" btn-primary button">Contact</a></li>
            </ul>
          </div>
        </nav>