<%- include('partials/header') %>

<div id="main-cover-page">
    <h1>Hi. I'm Lawrence Zhou.</h1>
    <p>A programmer and <span id="main-cover-page-web-designer">web designer.</span></p>
    <p class="icons">
        <a href="https://discordapp.com/invite/GP23sKP"><i id="icon-discord" class="fab fa-discord icon"></i></a>
        <a href="https://www.twitter.com/illonion"><i id="icon-twitter" class="fab fa-twitter icon"></i></a>
        <a href="https://github.com/illonion"><i id="icon-github" class="fab fa-github icon"></i></a>
        <a href="mailto:zhou.lawrence.yz@gmail.com"><i id="icon-envelope" class="fas fa-envelope icon"></i></a>
        <a href="https://twitch.tv/saladtk"><i id="icon-twitch" class="fab fa-twitch icon"></i></a>
        <a href="https://steamcommunity.com/id/illinon/"><i id="icon-steam" class="fab fa-steam icon"></i></a>
    </p>
</div>

<%- include('partials/footer') %>