.buttons {
    margin-top:10px;
    margin-bottom:15px;
    width:50%;
    height:20px;
    padding:20px 10px;
    border-radius:25px;
    background-color:#02101a;
    color:white;
    border: 1px solid white;
    text-align: center;
    text-decoration:none;
    transition-duration: 0.4s;
}

.buttons:hover {
    opacity:0.6;
    transition-duration: 0.4s;
}

.buttons span {
    margin-top:auto;
    margin-bottom:auto;
}

.project-button {
    margin:10px 0px;
    width:75%;
    opacity:0.65;
    transition:0.3s;
    max-height:80px;
}

.project-button:hover {
    margin:15px 0px;
    opacity:1;
    transition:0.3s;
}

.project-box {
    margin: 15px auto;
    width:90%;
    border:solid;
    border-color:white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height:1.5;
    padding: 15px;
}

.project-box p {
    font-size:14px;
}

.tournament-button {
    width:80%;
    margin:1px;
    text-align: center;
    line-height:1.5;
    opacity:0.6;
    transition:0.3s;
}

.tournament-button:hover {
    margin:15px 0px;
    opacity:1;
    transition:0.3s;
}