::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
  ::-webkit-scrollbar-track {
    background:#02101a;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background:#666;
    border-radius:5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#999;
}

/* Bottom right hand corner */
::-webkit-scrollbar-corner {
      background:transparent;
}